
<%= form_for [@company, @company.jobs.new] do |f| %>

<p>Job title</p>
<%= f.text_field  :name %>

 <p>Description</p>
<%= f.text_field  :description %>

 <p>Category</p>
<%= f.text_field  :category %>
 
 <p>Deadline</p>
<%= f.date_select  :deadline %>
 <p></p>
  <%= f.submit "Add vacancy" %>
<% end %>
